{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/workers/new-worker.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div id="new-worker-header">
                <h1>Nowy pracownik</h1>
            </div>
            <p>
                {{ form.name.label(class="fadeIn first input-label") }} {{ form.name(class="fadeIn first") }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.contract_begin.label(class="fadeIn second input-label") }} {{ form.contract_begin(class="fadeIn second") }}<br>
                {% for error in form.contract_begin.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.contract_end.label(class="fadeIn third input-label") }} {{ form.contract_end(class="fadeIn third") }}<br>
                {% for error in form.contract_end.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.workplace.label(class="fadeIn fourth input-label") }} {{ form.workplace(class="fadeIn fourth") }}<br>
                {% for error in form.workplace.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.function.label(class="fadeIn fifth input-label") }} {{ form.function(class="fadeIn fifth") }}<br>
                {% for error in form.function.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(id="btn-submit", class="fadeIn sixth") }}</p>
            <br>
        </form>
    </div>
</div>

{% endblock %}