.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid #FF5A09;
	background: #393939;
	padding: 30px;
	width: 90%;
	max-width: 80%;
	position: relative;
	padding: 0px;
	padding-top: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
}

#docs-list-table {
    width: 100%;
}

.th-left, .td-left {
    border-left: 0px;
}

.th-right, .td-right {
    border-right: none;
}

th, td {
    border: 1px solid #FF5A09;
    border-top: 0px;
    padding: 5px;
    color: #FF5A09;
}

th {
    background-color: #FF5A09;
    color: #393939;
    border: 1px solid #393939;
    border-top: none;
}

td {
    color: #FF5A09;
}

tr {
    border: none;
}

.transp-input {
    background: transparent;
    border: none;
    color: #FF5A09;
}

#btn-submit {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: 3px solid  #FF5A09;
	border-radius: 8px;
	font-weight: bold;
	color:  #FF5A09;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-bottom: 25px;
}

#btn-submit:hover {
	background-color: #FF5A09;
	color:  #393939;
	transform: scale(1.1);
}