.main-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.card {
	display: inline-block;
	width: 22% !important;
	background-color: Transparent;
	background-repeat:no-repeat;
	text-align: center;
	float: none;
	margin: 40px 10px 10px 10px;
	-webkit-transition: all 0.3s ease-in-out;
}

.card.func-group {
	border: none;
}

.card:hover {
	transform: scale(1.1);
}

.card-header {
	background-color: #ec7f37;
	border: 2px solid #FF5A09;
}

.list-group-item {
	background-color: #393939;
	border: 2px solid #FF5A09;
	padding: 10px;
}

.btn-main-link {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: 3px solid  #ec7f37;
	border-radius: 8px;
	font-weight: bold;
	color:  #ec7f37;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 8px 4px 2px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
}

.btn-main-link:hover {
	background-color: #ec7f37;
	color:  #393939;
	transform: scale(1.1);
}

.a-btn-main:link, .a-btn-main:visited {
	color: Inherit;
	cursor: pointer;
	text-decoration: none;
}
