{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/main/main.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="card func-group" style="width: 18rem;">
        <div class="card-header">
            <h2>Pracownicy</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn-main-link"><a href="{{ url_for('workers.add_worker') }}" class="a-btn-main">Nowy pracownik</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="{{ url_for('workers.workers_query') }}" class="a-btn-main">Wyszukaj pracownika</a></button>
            </li>
        </ul>
    </div>
    <div class="card func-group" style="width: 18rem;">
        <div class="card-header">
            <h2>Działy</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Nowy dział</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Edytuj dział</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Edytuj dział</a></button>
            </li>
        </ul>
    </div>
    <div class="card func-group" style="width: 18rem;">
        <div class="card-header">
            <h2>Zdarzenia</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Stwórz zdarzenie</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Nowe zdarzenie</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Lista zdarzeń</a></button>
            </li>
        </ul>
    </div>

    <div class="card func-group" style="width: 18rem;">
        <div class="card-header">
            <h2>Użytkownicy</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Nowy użytkownik</a></button>
            </li>
            <li class="list-group-item">
                <button class="btn-main-link"><a href="#" class="a-btn-main">Edytuj użytkownika</a></button>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
