<!DOCTYPE html>
<html lang="pl-PL">

	<head>
		<title>{{ title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
        {% block style %}{% endblock %}
	</head>

    <body>
        <nav id="navbar" class="navbar navbar-light">
            <form class="form-inline">
                <button class="btn-nav" type="button">
                    <a class="a-btn" href="{{ url_for('main.index') }}">GŁÓWNA</a>
                </button>
                {% if current_user.is_authenticated %}
                    <button  class="btn-nav" type="button">
                        <a class="a-btn" href="{{ url_for('auth.logout') }}">WYLOGUJ {{ current_user }}</a>
                    </button>
                {% else %}
                    <button  class="btn-nav" type="button">
                        <a class="a-btn" href="#">ZALOGUJ</a>
                    </button>
                {% endif %}
            </form>
        </nav>

    <!-- flash message -->
        <div style="text-align: center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <hr>
                        {{ message }}
                        <hr>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
        </div>

    <!-- MAIN CONTENT -->
        {% block content %}{% endblock %}

    <!-- FOOT -->
        <br><br>
        <footer class="footer">
            <div class="container">
                <span>2019 by Piotr Kozieł. All rights reserved. <a href="mailto:koziel.piotr1988@gmail.com">Contact</a></span>
            </div>
        </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    </body>
</html>